body {
  background-color: lightgrey;
}

.conditions-panel {
  height: 512px;
  padding: 0px;
  background-color: rgb(50,50,50);
}
.conditions-header {
  height: 64px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 16px;
  margin: -1px;
}

.panel-button {
  color: white;
  margin: -1px;
  padding-left: 20px;
  width: 100%;
}

.panel-button:hover {
  cursor: pointer;
  background-color: rgb(200,200,200);
  color: black;
}
 
.page-select {
  width: 40%;
  background-color: rgba(0,0,0,0);
  color: white;
  border-style: solid;
  border-color: white;
}

.page-select:hover {
  background-color: white;
  color: black;
}

.selected {
  background-color: rgb(100, 100, 100);
  color: rgb(0, 130, 255);
}

.selected:hover {
  background-color: rgb(255, 255, 255);
}

#pagecount {
  width: 20%;
  color: white
}

.colum-panel {
  height: 388px;
}
